<!DOCTYPE html>
<html>
<head>
    <title>영화 시간표</title>
</head>
<body>
    {% for movie_title, theaters in movie_schedules.items %}
        <h1><a href="{% url 'movie:movieInfoDetail' movie_title %}">{{ movie_title }}</a></h1>
        <ul>
            {% for theater, start_times in theaters.items %}
                <li>
                    {{ theater.0 }} {{ theater.1 }}
                    {% for start_time in start_times %}
                        {{ start_time }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
